.component {}

.divider {}

.divider.Normal {
  color: #fff;
  background-color: #6c3;
}
.divider.Overdue {
  color: #fff;
  background-color: #c00;
}
.divider.Urgent {
  color: #fff;
  background-color: #f93;
}

.counter {
  float: right;
}
