.component {}

.name, .summary {
  margin-bottom: 5px;
}

.summary {
  display: inline-block;
}

.summary > dt,
.summary > dd {
  display: inline-block;
  margin-right: .5em;
}

@media (max-width: 30em) {
  .summary {
    display: block;
  }
}
